.flexx {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs .tab {
  line-height: 20;
  height: 36px;
}
.tabs .indicator {
  height: 0;
}

.btn {
  background: #fff;
}
.tabs .tab a:hover,
.tabs .tab a.active {
  background: #ffc107 !important;
}

.selected {
  background: #ffc107 !important;
  color: #000;
}
.favourite {
  color: #ffc107;
    
}

.chip:hover{
    cursor: pointer;
}
.selected:hover{
    cursor: default;
}